<div class="container-md">
    <div class="demo-container">
        <div class="demo-feature">
            <app-ng-style></app-ng-style>
            <br>
        </div>
        <div class="demo-feature">
            <app-ng-switch></app-ng-switch>
            <br>
        </div>
        <div class="demo-feature">
            <app-classes></app-classes>
            <br><br>
        </div>
        <div class="demo-feature">
            <h3> Custom Directive </h3>
            <hr>
            <p appHighlight="orange">
                Hover me
            </p>
            <br>
        </div>
    </div>
</div>